*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin sans',sans-serif;
    box-sizing: border-box;
}


body{
    background: #191919;
} 

.about{
    width: 100%;
    padding: 70px;
    height: 700px;
    /* background-color: #191919; */
}

.about img{
    width: 680px;
    padding: 40px;
    height: 400px;
}

.main{
    width:1120px;
    max-width: 95%;
    display: flex;
    align-items: center;
    
}

.about-us h1{
    font-size:80px;
    text-transform: capitalize;
    color: white;
    margin-bottom: 20px;
    
}

.about-us h5{
    font-size:25px;
    text-transform: capitalize;
    color: white;
    margin-bottom: 25px;

}


.about-us p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 25px;
    padding-bottom: 30px;
}

.about-us a{
    color: white;
    background:#f9004d;
    border: 2px solid #f9004d;
    font-weight: 900;
    transition: 0.4s;
    border-radius: 10PX;
}

a:hover{

    background:transparent;
    cursor:pointer;
    border:2px solid #f9004d;
}